@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- STYLE KHUSUS DARI WEBSITE LAMA --- */
body {
    font-family: 'inter', sans-serif;
}

/* Navbar Blur & Transparan */
.navbar-fixed {
    @apply fixed z-[9999] bg-white bg-opacity-70 backdrop-blur-sm dark:bg-dark dark:bg-opacity-50 border-b border-slate-200 dark:border-slate-700;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}

/* Garis Burger Menu */
.burger-line {
    @apply w-[30px] h-[2px] my-2 block bg-dark dark:bg-white transition duration-300 ease-in-out;
}

/* Animasi Burger (React akan mengatur class ini nanti) */
.burger-aktif > span:nth-child(1) {
    @apply rotate-45 translate-y-[10px];
}
.burger-aktif > span:nth-child(2) {
    @apply scale-0;
}
.burger-aktif > span:nth-child(3) {
    @apply -rotate-45 -translate-y-[10px];
}

/* Footer Gradient Keren Kamu */
#footer {
    --s: 50px;
    --c: #172554;
    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%,#20222a 68% 70%,#0000 72%;
    background: 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
      radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
      radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
      repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
      radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
    background-attachment: fixed;
}

/* Animasi Toggle Dark Mode */
#dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-4;
}